
.loginContainer{
    
    background-image: url(https://www.shutterstock.com/image-vector/dashboard-application-on-laptop-business-analytics-1994706812);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: rgb(249, 246, 246);
    
    
}

.loginCard{
    position: absolute;top: 50%;
    width: 70rem;
}


.loginForm{
    max-width: fit-content;
    max-height: fit-content;
    color: white;
    background-color: rgba(1, 65, 31, 0.5);
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.6);
    border: none;
}




.login{
    margin: 1.5rem;
    
}