
.loginContainer{
    background-image: url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1744&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:100vh;
    
}


.loginCard{
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin: auto;
    margin-top: 10rem;
    padding: 1rem;
    min-width: fit-content;
    min-height: fit-content;
    max-width: 50rem;
    max-height: 30rem;
    color: rgb(220, 219, 219);
    border-radius: 10px;
    border: 1px solid white;
}



.login{
    margin: 1.5rem;
    
}

.loginMsg{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(90, 153, 231, 0.8);
    word-wrap: break-word;
}