body {
    padding: 0;
    margin: 0;
    
  }
  

.footer{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(18, 18, 18);
    color: white;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
}


.links{
    text-decoration: none;
    color: white;
}