
.App{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  background-image: url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1472&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height:100vh;
}

.navbar{
  
  background-color: black;
  background-image: url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1472&q=80);
}

.navbar >ul{
  margin: 5px;
  padding: 5px;
  
}

.navbar  > h5 {
  display: flex;
  color: white;
  margin: auto;
  margin-right: 1rem;
}

.registration {
  padding: 2px;
}

