
.App{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.navbar{
  background-color: black;
  background-image: url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1472&q=80);
}

.navbar >ul{
  margin: 5px;
  padding: 5px;
  
}

.navbar > ul > h5 {
  margin: 1rem;
  color: white;
  
}

.registration {
  padding: 2px;
  
}


.projects{
  display: flex;
  justify-content: center;

}

.projects > nav {
  gap: 5rem;

}

.addPro > button{
  border: none;
  background-color: white;

}


.viewPro > button{
  border: none;
  background-color: white;

}

.proLinks{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  text-decoration: none;
  font-size: larger;
}