
.App{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}



.navbar >ul{
  margin: 5px;
  padding: 5px;
  
}


.registration {
  padding: 2px;
  
}


.projects{
  display: flex;
  justify-content: center;

}

.projects > nav {
  gap: 5rem;

}

.addPro > button{
  border: none;
  background-color: white;

}


.viewPro > button{
  border: none;
  background-color: white;

}

.proLinks{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  text-decoration: none;
  font-size: larger;
}