
.registerContainer{
    
    background-image: url(https://media.istockphoto.com/id/1317441544/vector/binary-codes-glitter.jpg?s=612x612&w=0&k=20&c=QFRT6rJL7b8GMnWZZ4TGIxxsadwkf9lUNLd12hKf5GA=);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:100vh;
}




.registration{
    margin: 5rem;
    padding: 2rem;
    max-width: fit-content;
    max-height: fit-content;
    color: white;
    background-color: rgba(1, 65, 31, 0.5);
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    border: none;

}

.p-4{
    display: flex;
}


.registration > input{
    border: none;
    margin: 0px;
    padding: 1rem;
    height: 2.5rem;
   
}

.registration > button{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}


