
.registerContainer{
    background-image: url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1744&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:100vh;
}







.registration > input{
    border: none;
    margin: 0px;
    padding: 1rem;
    height: 2.5rem;
   
}

.registration > button{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}


